.card{
    &--margin{
        margin-top: 30px;
    }
    &--margin_filter{
        margin-top: 10px;
    }
    .card-body{
        $root: &;
        [class*="col-"]:last-child{
            .form-group{
                margin-bottom: 0;
            }
        }
        &__dashboard_title{
            margin-bottom: 10px;
            font-size: 50px;
        }
        &__dashboard_description{
            margin: 0;
            height: 19px;
            font-size: 12px;
        }
        &__link_filter{
            position: relative;
        }
        &--filters{
            padding: 6px;
        }
        &__option_filter{
            &__option{
                position: absolute;
                left: 120%;
                top: -30px;
                background: white;
                padding: 10px;
                z-index: 200;
                width: 250px;
                border: 1px solid rgba(0, 0, 0, 0.125);
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
                &__title{
                    border-bottom: 1px solid black;
                    margin-bottom: 5px;
                }
            }
        }
        &__filters{
            &__option{
                background: $color_main;
                border-radius: 4px;
                position: relative;
                padding-right: 20px;
            }
            &__text{
                margin-bottom: 0;
                color: white;
                padding: 6px 8px;
                font-size: 14px;
            }
            &__close{
                display: block;
                color: white;
                position: absolute;
                right: 6px;
                top: 8px;
                cursor: pointer;
            }
        }
        &__filters_query{
            position: absolute;
            background: white;
            z-index: 300;
            left: 120%;
            border: 1px solid rgba(0, 0, 0, 0.125);
            top: -30px;
            z-index: 100;
            border: 1px solid $color_background_dark;
            border-radius: 4px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
            &__menu{
                $root: &;
                padding: 12px 15px;
                display: flex;
                width: 150px;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                &__title{
                    font-size: 16px;
                    font-family: $font_main;
                    margin-right: 10px;
                    color: $color_table;
                }
                &__arrow{
                    display: block;
                    color: $color_table;
                }
                &:hover{
                    #{$root}__title{
                        color: red;
                    }

                }

            }

        }
        &--search{
            position: relative;
            width: 100%;
        }
        &--inline{
            .form-group{
                margin: 0;
                padding: 5px 0;
            }
        }
        &__input-search{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding-left: 35px;
            padding-top: 9px;
            &:focus{
                #{$root}__icon-search{
                    color: $color_text_black;
                }
            }
        }
        &__icon-search{
            position: absolute;
            top: 25%;
            left: 9px;
            font-size: 18px;
            color: $color_text_menu;

        }
        &__btn{
            width: 100px;
            // margin-right: 15px;
            line-height: 26px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    .card-header{
        background-color: $color_background;
        &__title{
            font-size: 20px;
            font-family: $font_main;
        }
    }
    .card-footer{
        background-color: $color_background;
    }
    &--filtros{
        position: relative;
        .filters{
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.card-table{
    $root: &;
    padding: 0;
    &__header{
        border-bottom: 1px solid $color_border;
        padding-top: 15px;
        padding-bottom: 15px;

        background-color: $color_background;
        &--white{
            background-color: white;
        }
        &__col{
            position: relative;
        }

        &__title{
            font-family: $font_main;
            font-weight: 700;
            color: $color_text_menu;
            font-size: 15px;
        }
        &__orderBy{
            position: absolute;
            right: 10px;
            top: -10px;
            display: flex;
            flex-direction: column;
            &__asc, &__desc{
                font-size: 20px;
                display: block;
                cursor: pointer;
                color: $color_text_menu;
                &:hover{
                    color: $color_text_black;
                }
            }
            &__active{
                color: $color_text_black;
            }
        }
    }
    &__row:last-child{

        #{$root}__body{
            &:last-child{
                border-bottom: none;
                // padding-bottom: 0;
            }
        }
    }
    &__body{
        $root: &;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid $color_border;
        transition: 0.3s ease all;
        cursor: pointer;
        &__col{
            &__arrow{
                text-align: right;
                display: block;
                color: $color_text_menu;
            }
            &__arrow_down{

                color: $color_text_menu;
                margin-right: 10px;
            }
        }
        &__col--image{
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
            }
        }
        &__field{
            margin: 0;
            font-family: $font_text;
            font-size: 14px;
            color: $color_table;
        }
        &__bol{
            width: 20px;
            height: 20px;
            background: $color_table;
            border-radius: 50%;
            &--active{
                background: $color_success;
            }
        }
        // &:last-child{
        //     border-bottom: none;
        //     padding-bottom: 0;
        // }
        &:hover{
            #{$root}__col__arrow{
                color: $color_text_black;
                font-weight: bold;
            }
            #{$root}__field{
                color: $color_text_black;
                font-weight: bold;
            }
        }
    }

}

@media screen and (max-width: 640px) {
    .card-table{
        &__header__title{
            font-size: 14px;
        }
        &__body__field{
            font-size: 13px;
        }
    }
}