$color_base : #f4f6f9;
$color_form_focus: #a0a0a0;
$color_background: #f5f6f9;
$color_background_dark: #f5f6de;
$color_border: rgba(0,0,0,.125);
$color_text_menu: #727b8a;
$color_text_black: #222225;
$color_main: #007ce2;
$font_main : 'Lato', sans-serif;
$font_text :  Roboto, Arial, sans-serif;
$color_table: rgb(96, 98, 102);
$color_success: #28a745;